.bback {
  display: flex;
  justify-content: center;
}
.pass-fail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: solid 10px #333333;
  width: 1000px;
  height: auto;
  padding: 50px;
  margin-top: 245px;
  margin-bottom: 50px;
 }